*,
*::before,
*::after {    
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    border: 1px solid rgba(0, 94, 255, .3);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  
}

table th {
    text-align: left;
    background: rgba(0, 94, 255, .3);
}

table th, table td {
    padding: .5rem 1rem;
    transition: .2s ease-in-out;
}

table tr:hover td {
    background: rgba(0, 94, 255, .05);
}

.container {
    width: 100%;
    min-height: calc(100vh - 4.6rem);
    background: linear-gradient(180deg, rgb(0 39 195 / 22%), rgb(0 12 60)), url(../images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    /*margin-top: 3rem;*/
}

header {
    background: #fff;
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) */
    /*box-shadow: rgba(6, 24, 44, 0.8) 0px 0px 0px 2px, rgba(6, 24, 44, 1) 0px 4px 6px -1px, rgba(255, 255, 255, 0.3) 0px 1px 0px inset;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    /*width: 100%;*/
    /*top: 0;*/
    /*position: fixed;*/
}

.logo {
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    width: 5rem;
}

.logo span {
    font-size: 2rem;
    color: rgb(0, 94, 255);;
    font-weight: bold;
    margin-left: 0.4rem;
    text-transform: uppercase;
}

/* Initial Page */
.jumbo-wrapper {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbo-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 0.8rem;
}

.jumbo-btn {
    font-size: 2em;
    padding: 1em 2em;
    border-radius: .5em;
    outline: none;
    border: none;
    background: none;
    color: #fff;
    border: 4px solid #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.jumbo-btn:hover {
    background-color: #fff;
    color: rgb(0, 94, 255);
    transform: translateY(-.5rem) scale(1.1);
}

@media screen and (max-width: 38rem) {
    .jumbo-wrapper { 
        font-size: .5rem;
    }
}

@media screen and (max-width: 27rem) {
    .jumbo-wrapper { 
        font-size: .35rem;
    }
}

/* Alert Box */
.alert-box {
    position: fixed;
    background: #fff;
    top: 0;
    z-index: 100;
    padding: 0 2rem;
    left: 50%;
    transform: translateX(-50%) translateY(-110%);
    opacity: 0;
    color: red;
    border-radius: 6px;
    border: 1px solid #ff00004a;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: .3s ease-in-out;
}

.alert-box.success {
    border-color: #00ff004a;
    color: green;
}

.alert-box.active {
    opacity: 1;
    transform: translateX(-50%) translateY(6rem);
}

/* Navbar */
nav.nav-bar {
    position: fixed;
    z-index: 10;
    background: #fff;
    padding: .6rem 1.2rem;
    top: 4.2rem;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
    width: auto;
    max-width: 90%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


/* Login */
.box-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container {
    background: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.4rem;
    width: 420px;
    max-width: 90%;
    margin: 1.5rem;
}

.box-title {
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(0, 94, 255);
    margin-bottom: 1.2rem
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control label {
    margin-bottom: .4rem;
}

.form-control label.required:after {
    position: relative;
    content: '*';
    margin-left: 0.2rem;
    color: red;
    font-size: 1.2rem;
}

.form-control input,
.form-control textarea,
.form-control select {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid #aaa;
}

.form-message {
    text-align: center;
    transform: scale(0);
    transition: .2s ease-in-out;
}

.form-message.active {
    transform: scale(1);
} 

.form-message--error {
    color: red;
}

.form-btns {
    margin-top: 1rem;
}

.btn {
    font-size: 1em;
    padding: 1em 2em;
    border-radius: .5em;
    outline: none;
    border: none;
    background: rgb(0, 94, 255);
    color: #fff;
    font-weight: bold;
    cursor: pointer;    
    transition: .2s ease-in-out;
}

.btn-sm {
    display: inline-flex;
    padding: 0.3rem 1rem;
    font-weight: normal;
    border-radius: 4px;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.btn.disabled {
    opacity: .5;
    pointer-events: none;
}

.btn:hover {
    transform: translateY(-.3rem) scale(1.05);
}

.btn-sm:hover {
    transform: scale(1.15);
}

nav .btn {
    margin: 0.5rem;
}



/* Utils */
.w-100 {
    width: 100% !important;
}

.ta-c {
    text-align: center !important;
}

.d-none {
    display: none !important;
}

.d-flex {
    display: flex !important;
}

.jc-between {
    justify-content: space-between !important;
}